@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul{
    margin: 0;
    padding-left: 0;
}

li{
    list-style: none;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(185, 52, 52);
}

.list{
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.list li{
    margin: 0 15px;
    position: relative;
    list-style: none;
}
.list li::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    height: 1px;
    background:#02897A;
    transition: 0.6s;

}
.list li:hover:before{
    content: '';
    width: 100%;
    height: 2px;
    background: #02897A;
}
.list li::after{
    transition: 0.6s;
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #02897A;
    left: 100%;
    top: 0;
}
.list li:hover:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #02897A;
    top: 0;
    left: 0;
}



.list li a{
    color: aqua;
    text-decoration: none;
    font-size: 18px;
}
.icons{
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.icons li{
    list-style: none;
}

.tel{
    color: blue;
}

.you{
    color: red;
}

.inst{
    color: purple;
}



.container input{
    width: 20%;
    padding: 10px 30px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    background:rgba(0,0,0,0.9);
    color: white;
}


.banner{
    width: 80%;
    padding: 30px 10%;
    display: flex;
    justify-content: space-around;
}

.banner-content{
    width: 60%;
}

.banner-content h1{
    margin: 0;
    margin-bottom: 40px;
    font-size: 44px;
    font-weight: bold;
    color: #21243D;
}

.banner-content p{
    color: #21243D;
    margin: 0;
    margin-bottom: 40px;
}

.banner-content button{
    padding: 15px 20px;
    color: #fff;
    font-weight: 500;
    background: #FF6464;
    border: 0;
    outline: 0;
    border-radius: 2px;
    transition: 400ms;
    cursor: pointer;
}

.banner-image{
    width: 20%;
}

.banner-image img{
    width: 100%;
}

.middle_banner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: url("https://img5.goodfon.ru/wallpaper/nbig/6/3a/feathers-black-dark-4k-ultra-hd-background-black-wallpaper-b.jpg")center / cover;
    width: 100%;
    height: 75vh;
}


.card{
    width: 250px;
    height: 250px;
    background-color: orangered;
    margin-top: 160px;
    border-radius: 30px;
}

.card li{
    list-style: none;
    text-align: center;
    margin-top: 30px;
}

.card li a{
    font-size: 60px;
}

.wolf{
    color: gray;
}

.mobi{
    color: green;
}

.square{
    color: lightgreen;
}

.logoes{
    text-align: center;
}

.texts{
    text-align: center;
}
.top-post{
    width: 80%;
    padding: 0 10%;
    padding-top: 50px;
    background-color: #EDF7FA;
}

.post-banner{
    background-color: #EDF7FA;
    width: 80%;
    padding: 30px 10%;
    display: flex;
    justify-content: space-evenly;
}

.top-post ul{
    display: flex;
    justify-content: space-between;
}

.top-post ul li a{
    text-decoration: none;
}

.top-post ul li.left a{
    color: #21243D;
    font-size: 22px;
}

.top-post ul li.right a{
    color: #00A8CC;
}

.post-banner .post1{
    background-color: #fff;
    width: 40%;
    padding: 5px 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-banner .post1 h3{
    font-size: 26px;
    font-weight: 700;
    color: #21243D;
}

.post-banner .post1 h5{
    font-size: 18px;
    color: #21243D;
}

.post-banner .post1 p{
    width: 70%;
    color: #21243D;
}

.post-banner .post2{
    background-color: #fff;
    width: 40%;
    padding: 5px 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-banner .post2 h3{
    font-size: 26px;
    font-weight: 700;
    color: #21243D;
}

.post-banner .post2 h5{
    font-size: 18px;
    color: #21243D;
}

.post-banner .post2 p{
    width: 70%;
    color: #21243D;
}

.board-banner{
    width: 75%;
    padding: 20px 12%;
    text-align: center;
}

.board-banner h1{
    margin: 0;
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: 700;
    color: #21243D;
}

.board-banner h4{
    margin: 0;
    margin-bottom: 25px;
    font-size: 20px;
    color: #21243D;
}

.board-banner p{
    margin: 0;
    margin-bottom: 45px;    
}